parameters:
	ignoreErrors:
		-
			message: '#^Access to an undefined property User\:\:\$age\.$#'
			identifier: property.notFound
			count: 1
			path: test2.php

		-
			message: '#^Call to method User\:\:addNumbers\(\) on a separate line has no effect\.$#'
			identifier: method.resultUnused
			count: 1
			path: test2.php

		-
			message: '#^Call to method User\:\:getAge\(\) on a separate line has no effect\.$#'
			identifier: method.resultUnused
			count: 1
			path: test2.php

		-
			message: '#^Method User\:\:getAge\(\) should return int but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: test2.php

		-
			message: '#^Parameter \#2 \$b of method User\:\:addNumbers\(\) expects int, string given\.$#'
			identifier: argument.type
			count: 1
			path: test2.php

		-
			message: '#^Property User\:\:\$name has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: test2.php
